@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("hamburgers.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 16px;
}

:root {
  --main-color: crimson;
  --second-color: #222;
  --third-color: #fff;
}
html {
  scroll-behavior: smooth;
}

/* navbar style */

.navbar {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  z-index: 999;
  font-size: 16px;
}
.sticky {
  padding: 15px 0;
  background: var(--main-color);
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  padding: 0 50px;
  margin: auto;
}
.navbar__logo--a {
  font-size: 35px;
  color: var(--third-color);
  font-weight: 600;
}

.navbar__logo--span {
  color: var(--main-color);
}
.navbar__logo--spanW {
  color: var(--third-color);
}

.navbar__link {
  list-style: none;
  display: inline-block;
}
.navbar__link--a {
  color: var(--third-color);
  font-size: 17px;
  font-weight: 500;
  margin-left: 20px;
  transition: color 0.3s ease;
}
.navbar__link--a:hover {
  color: var(--main-color);
}
.navbar__link--white {
  color: var(--third-color);
  font-size: 17px;
  font-weight: 500;
  margin-left: 20px;
  transition: color 0.3s ease;
}

/* hambur */

.is-active {
  transform: translate(0, 0);
}

#panel-btn {
  position: fixed;
  z-index: 999;
  top: 2vh;
  right: 1vw;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  cursor: pointer;
  display: none;
  color: #fff;
}

/* home section */
.home {
  display: flex;
  height: 100vh;
  background: url("./assets/darkbg.jpg") fixed no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home__container {
  margin: auto 0 auto 40px;
  border: 1px solid white;
  max-width: 1300px;
}
.home__content--1 {
  font-size: 27px;
}
.home__content--2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -10px;
}
.home__content--3 {
  font-size: 27px;
  margin: 5px 0;
}
.home__content--span {
  color: crimson;
  font-weight: 700;
  font-size: 40px;
}
.home__content--3 .n-hide {
  opacity: 0;
  visibility: hidden;
}

.home__content--link {
  display: inline-block;
  color: #fff;
  background-color: crimson;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.home__content--link:hover {
  color: #fff;
  background: none;
}

/* about section */

section {
  padding: 70px 0;
}

.about {
  font-family: "Poppins", sans-serif;
}
.about__title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}
.about__title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
.about__title::after {
  content: "Who I am";
  position: absolute;
  bottom: -12px;
  left: 50%;
  color: crimson;
  background: #fff;
  transform: translateX(-50%);
  padding: 5px;
  font-size: 20px;
}
.about__content--1 img {
  height: 534px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about__content {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* tenia en minmax350,1fr */
}
.about__content--1 {
  margin-left: auto;
  margin-right: auto;
}
.about__content--1 img {
  height: 507px;
  width: 380px;
  object-fit: cover;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
}
.about__content--2 {
  margin: 20px 10px;
}
.about__content--2 div {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about__content--2 span {
  color: crimson;
}
.about__content--2 p {
  text-align: justify;
}
.about__content--2 a {
  display: inline-block;
  color: #fff;
  background-color: crimson;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  width: 200px;
  text-align: center;
}
.about__content--2 a:hover {
  color: crimson;
  background: none;
}
/* services section */
.service {
  font-family: "Poppins", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  background: #111;
  color: #fff;
}
.service__title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}
.service__title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 240px;
  height: 3px;
  background: #fff;
  transform: translateX(-50%);
}
.service__title::after {
  content: "You win...";
  position: absolute;
  bottom: -12px;
  left: 50%;
  color: crimson;
  background: #111;
  transform: translateX(-50%);
  padding: 5px;
  font-size: 20px;
}
.service__content {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.service__content--card {
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 10px;
  min-height: 380px;
}
.service__content--card:hover {
  background: crimson;
}

.service__content--card i {
  color: crimson;
  font-size: 50px;
  padding-bottom: 10px;
  transition: color 0.3s ease;
}
.service__content--card:hover i {
  color: #111;
}
.service__content--card .text {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px 0 7px 0;
  padding-bottom: 10px;
}
.service__content--card .box {
  transition: all 0.3s ease;
}
.service__content--card .box:hover {
  transform: scale(1.05);
}
/* skills */

.skills {
  font-family: "Poppins", sans-serif;
}
.skills__title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
}
.skills__title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
.skills__title::after {
  content: "What I know";
  position: absolute;
  bottom: -12px;
  left: 50%;
  color: crimson;
  background: #fff;
  transform: translateX(-50%);
  padding: 5px;
  font-size: 20px;
}
.skills__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills__content--creative,
.skills__content--bars {
  margin: 20px;
  width: 90%;
}
.skills__content--creative .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills__content--bars .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}
.skills__content--creative p {
  text-align: justify;
}
.skills__content a {
  display: inline-block;
  color: #fff;
  background-color: crimson;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 40px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: auto;
  text-align: center;
}
.skills__content a:hover {
  color: crimson;
  background: none;
}

.skills__content--bars span {
  font-weight: 500;
  font-size: 18px;
}
.skills__content--bars .line {
  height: 5px;
  width: 100%;
  background: lightgray;
  position: absolute;
  top: 30px;
}
.skills__content--bars .line::before {
  content: "";
  position: absolute;
  left: 0;
  width: 80%;
  height: 100%;
  background: crimson;
}

/* portfolio/portfolio */

.portfolio {
  font-family: "Poppins", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  background: #111;
  color: #fff;
}
.portfolio__title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}
.portfolio__title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 240px;
  height: 3px;
  background: #fff;
  transform: translateX(-50%);
}
.portfolio__title::after {
  content: "My Projects";
  position: absolute;
  bottom: -12px;
  left: 50%;
  color: crimson;
  background: #111;
  transform: translateX(-50%);
  padding: 5px;
  font-size: 20px;
}
.portfolio__container--carousel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2px;
}

.portfolio__container--carousel .card {
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}
.portfolio__container--carousel .card:hover {
  background: crimson;
}
.portfolio__container--carousel .card:hover .box {
  transform: scale(1.05);
}
.portfolio__container--carousel .card .text {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0 7px 0;
}
.portfolio__container--carousel .card img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 20%;
  border: 5px solid crimson;
  transition: all 0.3s ease;
  cursor: pointer;
}
.portfolio__container--carousel .card:hover img {
  border: 5px solid #fff;
  cursor: pointer;
}
.portfolio__container--carousel .card a {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

/* contact me section */
.contact__title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
}
.contact__title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
.contact__title::after {
  content: "Get in touch";
  position: absolute;
  bottom: -12px;
  left: 50%;
  color: crimson;
  background: #fff;
  transform: translateX(-50%);
  padding: 5px;
  font-size: 20px;
}
.contact__container {
  position: relative;
}
.form__content {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* tenia 380,1fr */
  gap: 10px;
  margin-top: -10px;
}
.form__content--1,
.main {
  margin-left: 20px;
  margin-right: 20px;
}
.form__content--1 .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.form__content--1 p {
  text-align: justify;
}
.form__content--1 .icons {
  margin: 10px 0;
}
.form__content--1 .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.form__content--1 .row .info {
  margin-left: 30px;
}
.form__content--1 .row i {
  font-size: 25px;
  color: crimson;
}
.form__content--1 .info .head {
  font-weight: 600;
}
/* form import */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  text-align: left;
}

.main__form {
  padding: 5px 5px;

  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}
.main__form .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 30px;
}

.form-label {
  display: inline-block;
  color: crimson;
  margin-top: 10px;
  font-size: 18px;
  position: relative;
  margin-left: 15px;
  top: -40px;
  z-index: -50;
  transition: all 0.5s;
  width: 90%;
}
.form-js {
  display: inline-block;
  color: #222;
  margin-top: 10px;
  font-size: 18px;
  position: relative;

  transition: all 0.5s;
  top: -70px;
  z-index: 1;
  text-align: left;
  width: 90%;
}
.formulario__items {
  background: transparent;
  border: none;
  font-size: 18px;
  color: #222;
  border-radius: 2px;
  padding: 8px;
  border-bottom: 2px solid crimson;
  border-right: 2px solid crimson;
  border-radius: 5px;
  width: 90%;
  outline: 0;
}

.formulario__items:focus + .form-label {
  z-index: 1;
  font-weight: 100;
  top: -70px;
}
.formulario__mensaje {
  background: transparent;
  border: none;
  font-size: 18px;
  color: #222;
  border-radius: 5px;
  padding: 12px;
  border-bottom: 2px solid crimson;
  border-right: 2px solid crimson;
  resize: none;
  width: 90%;

  outline: 0;
}
.mensaje {
  display: block;
  color: crimson;
  margin-top: 10px;
  font-size: 18px;
  position: relative;

  transition: all 0.5s;
  z-index: -50;
  top: -140px;
}
.mensaje-js {
  text-align: left;
  display: block;
  color: #222;
  margin-top: 10px;
  font-size: 18px;
  position: relative;

  transition: all 0.5s;
  z-index: 1;
  top: -180px;
}
.formulario__mensaje:focus + .mensaje {
  z-index: 1;
  font-weight: 100;
  top: -180px;
}
.form__button {
  display: inline-block;
  color: #fff;
  background-color: crimson;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  text-align: center;
  width: 50%;
}
.form__button:hover {
  color: crimson;
  background: none;
}
/* footer section */

footer {
  background: #111;
  padding: 20px 23px;
  color: #fff;
  text-align: center;
}
footer .name {
  color: crimson;
  font-size: 20px;
}
footer .rsss {
  margin-bottom: 10px;
}
footer .copyright {
  margin-top: 10px;
}
footer .rrss a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 20px;
}
footer .rrss a [title] {
  color: #fff;
  background: none;
}

@media (max-width: 768px) {
  .navbar__container {
    padding: 0 10px;
  }
  .navbar__link--a {
    font-size: 18px;
    font-weight: 450;
    margin-left: 10px;
    transition: color 0.3s ease;
  }
  .navbar__link--white {
    font-size: 18px;
    font-weight: 450;
    margin-left: 10px;
    transition: color 0.3s ease;
  }
  .home__content--2 {
    font-size: 60px;
  }
  .home__content--3 {
    font-size: 32px;
  }
  .home__content--link {
    font-size: 22px;
    padding: 12px 34px;
  }
  .about__content--1 img {
    height: 350px;
    width: 250px;
    object-fit: cover;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 604px) {
  .navbar__container {
    padding: 0 10px;
  }
  .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #222;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .menu--active {
    left: 50;
  }

  .navbar__link {
    display: block;
  }
  .navbar__link--a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .navbar__link--a:hover {
    color: var(--main-color);
  }
  .navbar__link--white {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
    margin-left: 10px;
  }
  .navbar__link--white:hover {
    color: var(--main-color);
  }
  #panel-btn {
    display: block;

    right: 2.5vw;
    /* background: none; */
  }
  .fas {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home__content--2 {
    font-size: 45px;
  }
  .home__content--3 {
    font-size: 35px;
  }
  .home__content--link {
    font-size: 20px;
    padding: 8px 20px;
  }
  .n-hide {
    display: none;
  }

  .about__content--1 img {
    height: 350px;
    width: 250px;
    object-fit: cover;
    border-radius: 6px;
  }
  .service__content--card {
    min-height: 300px;
  }
}

@media (max-width: 380px) {
  .mensaje {
    display: block;
    color: crimson;
    margin-top: 10px;
    font-size: 18px;
    position: relative;

    transition: all 0.5s;
    z-index: -50;
    top: -140px;
  }
  .mensaje-js {
    text-align: left;
    display: block;
    color: #222;
    margin-top: 10px;
    font-size: 18px;
    position: relative;

    transition: all 0.5s;
    z-index: 1;
    top: -160px;
  }
  .formulario__mensaje:focus + .mensaje {
    z-index: 1;
    font-weight: 100;
    top: -160px;
  }
  .content {
    width: 90%;
    height: auto;
  }

  .header h2 {
    color: #fff;
    margin: 20px auto;
    padding: 0;
    font-weight: 500px;

    text-align: center;
  }

  .fa-check {
    margin: 30px 0 0 130px;
  }

  .content p {
    padding: 30px 5px;
    font-size: 12px;
  }
  .close-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 10px;
    font-size: 12px;
  }
}
@media (min-width: 1040px) {
  .about__content {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    /* tenia en minmax350,1fr */
  }

  .about__content--1 img {
    height: 600px;
    width: 450px;
  }
  .about__content--2 {
    margin: 20px 20px;
  }
  .about__content--2 div {
    font-size: 30px;
  }
}

/* scroll */

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  width: 4rem;
  height: 4rem;
  right: 2vw;
  background-color: crimson;
  border-radius: 50%;
  border: 2px solid #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}

.scroll-top-btn:hover {
  background-color: var(--third-color);
  color: var(--main-color);
  border: 2px solid crimson;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

.contact__container .center .content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.content {
  width: 400px;
  height: 350px;
  background: #222;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 lightgrey;
  color: #fff;
  transition: 0.3s ease-in;
}
.content__hide {
  display: none;
}

.header {
  height: 68px;
  background: crimson;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.header h2 {
  color: #fff;
  padding-left: 80px;
  font-weight: 500px;
  padding-top: 20px;
}

.fa-check {
  color: crimson;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  height: 80px;
  width: 80px;
  border: 2px solid crimson;
  text-align: center;
  margin: 30px 0 0 160px;
  padding-top: 13px;
  box-sizing: border-box;
  border-radius: 50%;
}
.content p {
  padding: 20px 5px;
  font-size: 19px;
  text-align: center;
}
.bigFont {
  font-size: 25px;
  color: Crimson;
}
.line {
  bottom: 60px;
  width: 100%;
  height: 1px;
  background: silver;
}
.close-btn {
  position: absolute;
  bottom: 12px;
  right: 25px;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 10px;
  border: 1px solid crimson;

  display: inline-block;
  color: #fff;
  background-color: crimson;

  transition: all 0.3s ease;
}

.close-btn:hover {
  color: crimson;
  background: none;
}

.filters li {
  display: inline-block;
  padding: 8px 5px;
  background-color: #313131;
  color: #f1f1f1f1;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #222;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 1em;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
  margin: 3px;
  opacity: 1;
  position: relative;
  overflow: hidden;
}
.filters li:hover {
  background-color: crimson;
}
